client
dev tun
proto udp
remote {{ ansible_default_ipv4.address}} {{lab4_vpn_server_port}}
tls-client
ca "key-{{ inventory_hostname }}/ca.crt"
cert "key-{{ inventory_hostname }}/user1.crt"
key "key-{{ inventory_hostname }}/client.key"
tls-auth "key-{{ inventory_hostname }}/ta.key" 1
comp-lzo
tun-mtu 1500
mssfix 1450
verb 3